section(
  id='register'
  )
  form(
    (submit)='onRegisterSubmit()'
    )
    div
      label {{ strings.lang?.register.nick  }}
      input(
        type='text',
        '[(ngModel)]'='nick',
        name='nick'
        )
    div
      label {{ strings.lang?.register.password  }}
      input(
        type='password',
        '[(ngModel)]'='pass',
        name='pass' )
    div
      input(
        type='submit',
        [value]='strings.lang?.register.button'
        )
