section.room
  div.chat(
    id='chat'
  )
    div.output
  div.container
    div.userWrite(
      id='userWrite',
      *ngIf='userWriteBool'
      )
      p {{ userWrite }} {{ strings.lang?.room.somebody }}
    form.form(
      id='form'
      )
      textarea.area(
        id='area',
        maxlength='100'
        '[(ngModel)]'='input',
        name='input'
        )
      div
        input(
          type='submit',
          [value]='strings.lang?.room.send',
          (click)='sendMessage()'
          )
        input(
          type='button',
          [value]='strings.lang?.room.exit',
          (click)='exitTalk()'
          )
